In [1]:
import numpy as np
import pandas as pd
file1=r'C:\Users\acer\Desktop\Python Files\Project 2\carvan_train.csv'
file2=r'C:\Users\acer\Desktop\Python Files\Project 2\carvan_test.csv'
c_train = pd.read_csv(file1,sep=',')
c_test = pd.read_csv(file2,sep=',')
c_train.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V77,V78,V79,V80,V81,V82,V83,V84,V85,V86
0,33,1,3,2,8,0,5,1,3,7,...,0,0,0,1,0,0,0,0,0,0
1,37,1,2,2,8,1,4,1,4,6,...,0,0,0,1,0,0,0,0,0,0
2,37,1,2,2,8,0,4,2,4,3,...,0,0,0,1,0,0,0,0,0,0
3,9,1,3,3,3,2,3,2,4,5,...,0,0,0,1,0,0,0,0,0,0
4,40,1,4,2,10,1,4,1,4,7,...,0,0,0,1,0,0,0,0,0,0

In [6]:
c_train

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V77,V78,V79,V80,V81,V82,V83,V84,V85,V86
0,33,1,3,2,8,0,5,1,3,7,...,0,0,0,1,0,0,0,0,0,0
1,37,1,2,2,8,1,4,1,4,6,...,0,0,0,1,0,0,0,0,0,0
2,37,1,2,2,8,0,4,2,4,3,...,0,0,0,1,0,0,0,0,0,0
3,9,1,3,3,3,2,3,2,4,5,...,0,0,0,1,0,0,0,0,0,0
4,40,1,4,2,10,1,4,1,4,7,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5817,36,1,1,2,8,0,6,1,2,1,...,0,0,0,1,0,0,0,0,0,0
5818,35,1,4,4,8,1,4,1,4,6,...,0,0,0,1,0,0,0,0,0,0
5819,33,1,3,4,8,0,6,0,3,5,...,0,0,0,1,0,0,0,0,0,1
5820,34,1,3,2,8,0,7,0,2,7,...,0,0,0,0,0,0,0,0,0,0
5821,33,1,3,3,8,0,6,1,2,7,...,0,0,0,0,0,0,0,0,0,0

In [5]:
c_test.drop(['V86'],axis = 1)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V76,V77,V78,V79,V80,V81,V82,V83,V84,V85
0,33,1,4,2,8,0,6,0,3,5,...,0,0,0,0,1,0,0,0,0,0
1,6,1,3,2,2,0,5,0,4,5,...,2,0,0,0,1,0,0,0,0,0
2,39,1,3,3,9,1,4,2,3,5,...,1,0,0,0,1,0,0,0,0,0
3,9,1,2,3,3,2,3,2,4,5,...,0,0,0,0,1,0,0,0,0,0
4,31,1,2,4,7,0,2,0,7,9,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,33,1,2,4,8,0,7,2,0,5,...,0,0,0,0,1,0,0,0,0,0
3996,24,1,2,3,5,1,5,1,3,4,...,1,0,0,0,1,0,0,0,0,0
3997,36,1,2,3,8,1,5,1,3,7,...,0,0,0,0,1,0,0,0,1,0
3998,33,1,3,3,8,1,4,2,3,7,...,0,0,0,0,0,0,0,0,0,0
3999,8,1,2,3,2,4,3,0,3,5,...,0,0,0,0,1,0,0,0,0,0

In [7]:
from sklearn.model_selection import train_test_split
c_train1,c_train2 = train_test_split(c_train,test_size= 0.2,random_state = 2)
x_train=c_train1.drop(['V86'],1)
y_train=c_train1['V86'].astype(int)
x_test=c_train2.drop(['V86'],1)
y_test=c_train2['V86'].astype(int)

In [9]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(class_weight='balanced', criterion='entropy',
                       max_features=75, min_samples_leaf=20, min_samples_split=20,
                       n_estimators=500)

In [10]:
clf.fit(x_train, y_train)

RandomForestClassifier(class_weight='balanced', criterion='entropy',
                       max_features=75, min_samples_leaf=20,
                       min_samples_split=20, n_estimators=500)

In [11]:
predict_rf = clf.predict(x_test).astype(int)
predict_rf

array([0, 0, 1, ..., 1, 0, 0])

In [12]:
from sklearn.metrics import fbeta_score

In [15]:
fbeat2 = fbeta_score(y_test,predict_rf,beta=2,average = "binary")

In [16]:
fbeat2

0.3463203463203463

In [22]:
c_test.isnull().sum()

V1     0
V2     0
V3     0
V4     0
V5     0
      ..
V81    0
V82    0
V83    0
V84    0
V85    0
Length: 85, dtype: int64

In [21]:
c_test.drop(['V86'],axis =1 ,inplace = True)

In [17]:
pwd

'C:\\Users\\acer\\Desktop\\Python Files\\Project 2'

In [24]:
X_train = c_train.drop('V86',axis =1 )
Y_train = c_train['V86']
clf.fit(X_train,Y_train)
test_pred = clf.predict(c_test)
pd.DataFrame(test_pred).to_csv("Gayatri_Srinivasan_Project2_1.csv",index=False)